* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url("./img/amakusa.jpg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.container {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 8px;
  background: rgba(211, 211, 211, 0.056);
  border: 1px solid rgb(174, 9, 58);
  margin-top: 30px;
  width: 80%;
  max-width: 400px;
  margin-inline: auto;
  padding: 8px;
}

img {
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
}

input,
button {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
  margin-bottom: 30px;
}

button {
  border: none;
  background-color: #f7f312;
  color: rgb(69, 68, 68);
  transition: 0.3s ease-in-out;
}

button:hover {
  filter: brightness(1.2); /* efeito leve de clareamento */
  cursor: pointer;
}

.root {
  margin-top: 70px;
}
